@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@layer components {
  .text-btn {
    @apply py-1 px-3 bg-white hover:bg-slate-50 border rounded-md
  }

  .icon-btn {
    @apply py-2 px-2 bg-white hover:bg-slate-50 border rounded-md
  }

  .icon-btn svg {
    @apply stroke-gray-500
  }

  .active-nav-btn {
    @apply bg-white text-black border
  }
}