@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  /* width */
    ::-webkit-scrollbar {
      @apply h-2 w-2
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      @apply rounded-full w-3
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-300
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-600
    }
}

@layer components {
  .text-btn {
    @apply py-1 px-3 bg-white hover:bg-slate-50 border rounded-md
  }

  .icon-btn {
    @apply py-2 px-2 bg-white hover:bg-slate-50 border rounded-md
  }

  .icon-btn svg {
    @apply stroke-gray-500
  }

  .active-nav-btn {
    @apply bg-white text-black border hover:bg-white
  }
}